[submodule "/Users/hiro/dotfiles/oh-my-zsh"]
	path = /Users/hiro/dotfiles/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh-powerline-theme"]
	path = oh-my-zsh-powerline-theme
	url = git@github.com:jeremyFreeAgent/oh-my-zsh-powerline-theme.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
